@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
   :root {
   }
}

body {
   font-family: "Playfair Display", serif;
   text-align: center;
   font-variant-numeric: lining-nums;
   font-feature-settings: "lnum";
   -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3 {
   font-family: "Playfair Display", serif;
}
p {
   font-family: "roboto", sans-serif;
   color: #787878;
   line-height: 28px;
   font-size: 16px;
}
/* .service-item:nth-child(odd) {
   flex-direction: row-reverse;
} */
